:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 100px;
    --section-background: #f6f6f6;
    --main-duration: 0.5s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.main-heading {
    text-align: center;
}
.main-heading h2 {
    font-size: 100px;
    font-weight: 900;
    color: #ebeced;
    margin: 0;
    letter-spacing: -5px;
}
.main-heading p {
    font-size: 18px;
    transform: translatey(-25px);
}
@media (max-width: 768px) {
    .main-heading h2 {
        font-size: 60px;
    }
    .main-heading p {
        font-size: 16px;
        transform: translatey(-20px);
    }
}

/* end */

header {
    height: 60px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 100%;
}

header .container .logo {
    width: 60px;
    cursor: pointer;
}

header .container .links ul {
    list-style: none;
    display: flex;
}

header .container .links ul li {
    margin: 0 15px;
}

header .container .links ul li a {
    text-decoration: none;
    color: var(--main-color);
    font-weight: 400;
    transition: var(--main-duration);
    font-size: 17px;
}

header .container .links ul li a:hover {
    color: #0cab9a;
} 


@media (max-width: 768px) {
    header .container .links {
        transition: var(--main-duration);
        cursor: pointer;
    }

    header .container .links .pars {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        width: 20px;
    }

    header .container .links .pars:hover span:nth-child(2){
        width: 100%;
    }

    header .container .links .pars span {
        background-color: var(--main-color);
        width: 100%;
        height: 2px;
        margin-bottom: 3px;
        transition: var(--main-duration);
    }

    header .container .links .pars span:nth-child(2) {
        width: 60%;
    }

    header .container .links:hover ul {
        display: block;
    }

    header .container .links ul {
        position: absolute;
        top: 80%;
        right: 0;
        list-style: none;
        width: 100%;
        background-color: var(--section-background);
        text-align: center;
        display: none;
        z-index: 3;
    }

    header .container .links ul::before {
        content: '';
        position: absolute;
        border: 10px solid;
        border-color: transparent transparent  var(--section-background) transparent;
        top: -20px;
        right: 12px;
    }

    header .container .links ul li {
        margin: 15px 0;
    }

    header .container .links ul li a {
        color: var(--main-color);
        text-decoration: none;
        padding-bottom: 2px;
        transition: var(--main-duration);
    }

    header .container .links ul li:hover a {
        font-size: 17px;
    }
}
/* ------ */
.landing {
    height: calc(100vh - 60px);
    position: relative;
    background-image: url(/imegs/686998.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.landing .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: fit-content;
}

.landing .text h1 {
    font-size: 65px;
    font-weight: 900;
    color: var(--main-color)
}

.landing .text p {
    width: 70%;
    margin: auto;
    font-size: 19px;
}
/* ------ */
.features {
    background-color: var(--section-background);
    padding: var(--section-padding) 0;
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.features .container .feat {
    text-align: center;
}

.features .container .feat i {
    font-size: 60px;
    color: var(--main-color);
    margin-bottom: 20px;
}

.features .container .feat h4 {
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 10px;
}

.features .container .feat p {
    font-size: 17px;
    color: #484848;
    line-height: 1.6;
}
/* ----- */
.services {
    padding: calc(var(--section-padding) + 70px) 0;
}

.services .container .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
    align-items: flex-end;
}

.services .container .content .img {
    text-align: end;
    position: relative;
} 

.services .container .content .img::before {
    content: '';
    position: absolute;
    background-color: var(--secondary-color);
    width: 30%;
    height: calc(100% + 70px);
    top: -12%;
    right: -35px;
    z-index: -1;
}

@media (max-width: 1200px) {
    .services .container .content .img {
        display: none;
    }
}

.services .container .content img {
    width: 250px;

}

.services .container .content .serv {
    display: flex;
    margin-bottom: 30px;
}

.services .container .content .serv i {
    margin-right: 30px;
    font-size: 40px;
    color: var(--main-color);
}

@media (max-width: 768px) {
    .services .container .content .serv {
        text-align: center;
        display: block;
    }

    .services .container .content .serv i {
        margin-right: 0;
        margin-bottom: 20px;
    }
}


.services .container .content .serv .text h4 {
    font-size: 19px;
    margin-bottom: 21px;
    font-weight: 800;
}

.services .container .content .serv .text p {
    color: 15px;
}
/* ----- */
.portfolio {
    background-color: var(--section-background);
    padding: var(--section-padding) 0;
}

.portfolio .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-top: 100px;
}

.portfolio .container .col {
    background-color: white;
    margin: 15px;
}

.portfolio .container .col .imag img {
    max-width: 100%;
    margin-bottom: 10px;
}

.portfolio .container .col .text {
    width: 100%;
    padding: 15px;
}


.portfolio .container .col .text p {
    font-size: 12px;
    margin-top: 15px;
} 

/* ----- */
.about {
    padding: var(--section-padding) 0;
}

.about .container {
    display: flex;
    align-items: flex-start;
    justify-content: end;
    gap: 150px;
    margin-top: 60px;
}

.about .container .image {
    position: relative;
}

.about .container img {
    width: 200px;
}

.about .container .image::before {
    content: '';
    position: absolute;
    width: 40%;
    height: calc(100% + 40px);
    background-color: #ebeced;
    top: -20px;
    left: -35px;
    z-index: -1;
}

.about .container .image::after {
    content: '';
    position: absolute;
    width: 55px;
    height: 60%;
    right: -80px;
    border-bottom: 45px solid var(--main-color);
    border-left: 90px solid var(--main-color);
    top: -19px;
    z-index: -1;
}

.about .container .col {
    width: 600px;
}

.about .container .col p:first-child {
    font-size: 14px;
    font-weight: 600;
    position: relative;
    padding: 40px 0;
}

.about .container .col p:first-child::before {
    content: '';
    position: absolute;
    width: 40%;
    height: 1px;
    background-color: var(--main-color);
    bottom: 20px;
}

.about .container .col p:last-child {
    font-size: 13px;
    color: #484848;
}

@media (max-width: 768px) {
    .about .container .image {
        display: none;
    }

    .about .container .col {
        text-align: center;
    }

    .about .container .col p:first-child::before {
        left: 50%;
        transform: translateX(-50%);
    }

    .about .container {
        justify-content: center;
    }
}
/* ----- */
.contact {
    background-color: var(--section-background);
    padding: var(--section-padding) 0;
}

.contact .container {
    margin-top: 100px;
    text-align: center;
}

.contact .container h3 {
    font-size: 35px;
    font-weight: 900;
    letter-spacing: -2px;
    color: var(--secondary-color);
    margin-bottom: 30px;
} 

.contact .container a {
    text-decoration: none;
    color: var(--main-color);
    font-size: 30px;
    font-weight: 900;
}

.contact .container .social {
    margin-top: 25px;
    font-size: 14px;
    color: #484848;
}

.contact .container .social i {
    margin: 0 15px;
    font-size: 25px;
    color: var(--secondary-color);
    cursor: pointer;
}

/* ----- */
.footer {
    padding: 30px 0px;
    background-color: var(--secondary-color);
    text-align: center;
    color: white;
    font-size: 15px;
}

.footer span {
    font-size: 17px;
    color: var(--main-color);
    font-weight: 900;
}